<?xml version="1.0"?>
<launch>
  <arg name="joy_dev" default="/dev/input/js0" />
  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="dev" value="$(arg joy_dev)" />
    <param name="deadzone" value="0.05" />
    <param name="autorepeat_rate" value="0" />
  </node>

  <node name="joy_f710" pkg="swab" type="joy_f710.py" output="screen">  
  </node>
  <node name="http_lai" pkg="swab" type="http_lai.py" output="screen">  
  </node>

</launch>
